@use "tailwindcss";

@use "@/app/styles/fonts.scss";
@use "@/app/styles/colors.scss";
@use "@/app/styles/animations.scss";

@layer base {
  body {
    font-family: var(--font-montserrat), sans-serif;
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }

  .hover-lift {
    @apply transition duration-300 ease-in-out transform lg:hover:-translate-y-1 lg:hover:scale-[1.02] lg:hover:shadow-2xl;
  }

  .animate-pulse {
    animation: var(--animate-pulse);
  }
}
