@use "tailwindcss";
@use "@/app/styles/colors.scss";

@layer base {
  body {
    font-family: var(--font-montserrat), sans-serif;
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }
}
